<div class="p-4">
  <div class="flex flex-col sm:flex-row gap-2 w-full mt-4">
    <input type="text" [(ngModel)]="search" placeholder="Cerca per titolo..."
      class="flex-1 px-4 py-2 border border-gray-300 rounded w-full" />

    <button (click)="applyFilter()" class="px-6 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
      Cerca
    </button>
  </div>

  <div class="w-full bg-gray-200 rounded h-2 mt-4 overflow-hidden">
    <div class="bg-blue-500 h-2 transition-all duration-100" [style.width.%]="((60 - countdown) / 60) * 100">
    </div>
  </div>
  <p class="text-sm text-gray-600 mt-1">Prossimo aggiornamento tra {{ countdown }} secondi</p>
  <div class="overflow-x-auto mt-6">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
      <thead class="bg-gray-100 text-gray-600 uppercase text-xs">
        <tr>
          <th class="px-4 py-2 text-left">Title</th>
          <th class="px-4 py-2 text-left">Type</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">CONTENT ID</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">DURATION</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">FILENAME</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">CREATION DATE</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">UPDATE DATE</th>
          <th class="px-4 py-2 text-left hidden md:table-cell">PUBLISH DATE UTC</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-100">
        <tr *ngFor="let item of paginatedData()" class="hover:bg-gray-50">
   
          <td class="px-4 py-2 font-medium block md:hidden max-w-[160px] truncate">
            [{{ item.contentType }}] {{ item.title.length > 12 ? (item.title | slice:0:12) + '...' : item.title }}
          </td>

        
          <td class="px-4 py-2 font-medium hidden md:table-cell">
            {{ item.title }}
          </td>


          <td class="px-4 py-2 capitalize">
            {{ item.contentType }}
          </td>


          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['contentId'] }}
          </td>


          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['onDemandDuration'] || '—' }}
          </td>
          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['onDemandFileName'] || '—' }}
          </td>
          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['creationDate'] | date:'short' }}
          </td>
          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['updateDate'] | date:'short' }}
          </td>
          <td class="px-4 py-2 hidden md:table-cell">
            {{ item['publishDateUTC'] | date:'short' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="mt-6 flex flex-wrap items-center justify-center gap-2 text-sm">
  <button (click)="prevPage()" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300" [disabled]="currentPage === 0">
    ←
  </button>

  <ng-container *ngFor="let page of pages; let i = index">
    <button (click)="setPage(i)" [class.bg-blue-500]="i === currentPage" [class.text-white]="i === currentPage"
      class="px-3 py-1 rounded hover:bg-blue-100 bg-gray-100">
      {{ i + 1 }}
    </button>
  </ng-container>

  <button (click)="nextPage()" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300"
    [disabled]="currentPage === pages.length - 1">
    →
  </button>
</div>